* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: white;
}
body {
  background-color: #2E97D9;
  min-height: 105vh;
  /* overflow-y: scroll; */
}

.container {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 800px;
        min-width: 350px;
        padding-left: 10px;
        padding-right: 10px;
}

.header {
  
  font-weight:lighter;
  letter-spacing: 0.1rem;
  font-size: 3rem;
}

.update-bar {
  align-self: flex-end;
  margin-top: 30px;
  margin-right: 10px;
}